.container {
    padding-top: 10px;
}

.links-container {
    width: 5%;
    padding: 10px;
    box-shadow: 2px 0 8px 0 var(--im-broadside-box-shadow);
    min-width: 65px;
    height: 100vh;
    color: var(--n-text-color);

    .avatar {
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }

    .is-online {
        font-size: 13px;
        margin-bottom: 20px;
    }

    .links-item {
        padding: 10px 0;
        font-size: 12px;

        a {
            display: block;

            .iconfont {
                font-size: 1.5rem;
            }
        }
    }

    .link-img {
        width: 35px;
        margin-top: 45vh;
        margin-bottom: 3px;
        height: 35px;
        border-radius: 50%;
    }

    .logout {
        font-size: 13px;
    }

    .avatar-detail {
        position: absolute;
        left: 65px;
        top: 25px;
        border-radius: 2%;
        transition: width .2s ease-in-out, height .2s ease-in-out, visibility .1s ease-in-out;
        visibility: hidden;
        width: 100px;
        height: 100px;

    }

    .visible {
        visibility: visible;
        width: 280px;
        height: 280px;
    }

    @media (min-width:1300px) {
        .avatar-detail {
            left: 5%;
        }
    }

}

.routes-container {
    width: 95%;
    height: 100vh;
}