.flex{
    display: flex !important;
}
.bg-pink{
   background-color: pink !important; 
}
.bg-skyblue{
    background-color: skyblue !important;
}
.color-green{
    color: green;
}
.color-red{
    color: red;
}