.views-layout {
    height: 100%;
    flex-flow: row nowrap;
    overflow: hidden;
}

.views-left {
    width: 50%;
}

.views-right {
    flex: auto;
    overflow-x: auto;

    .right-content {
        flex: auto
    }

    .views-line {
        height: 100%;
        width: 2px;
        background-color: #ccc;

        &:hover {
            background-color: var(--active-color);
        }

        &:active {
            background-color: var(--active-color);
        }
    }
}